In [1]:
import numpy as np 
import pandas as pd 
import os

import seaborn as sns 
import matplotlib.pyplot as plt 
import csv

from matplotlib import colors
from matplotlib.ticker import PercentFormatter

import seaborn as sns

In [2]:
master = pd.read_csv('C:\\Users\\siddh\\Desktop\\DES\\Datasets For Use\\master_combined.csv')
master

C:\Users\siddh\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9,10,13,14,20,21,22,23,24,25,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,...,QualSpatialAccuracy,ExtractTime,LAB_METH_CODE,LAB_METH_NAME,LAB_METH_SHORT_NAME,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,UNITS
0,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,2.0,2.0,01-01-1993,151.160172,-24.85381,0,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
1,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,4.0,4.0,01-01-1993,151.160172,-24.85381,0.15,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
2,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,5.0,5.0,01-01-1993,151.160172,-24.85381,0.2,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
3,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,8.0,8.0,01-01-1993,151.160172,-24.85381,0.5,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
4,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,11.0,11.0,01-01-1993,151.160172,-24.85381,0.8,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039867,ASRIS,NatSoil,CSIRO,899_SSM_SSM9_1,1.0,3.0,31-01-1991,148.798660,-32.64053,0.05,...,3.0,2021-10-01T19:04:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2039868,ASRIS,NatSoil,CSIRO,899_SSM_SSM9_1,2.0,1.0,31-01-1991,148.798660,-32.64053,0.1,...,3.0,2021-10-01T19:04:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2039869,ASRIS,NatSoil,CSIRO,899_SSM_SSM9_1,3.0,1.0,31-01-1991,148.798660,-32.64053,0.15,...,3.0,2021-10-01T19:04:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2039870,ASRIS,NatSoil,CSIRO,899_SSM_SSM9_1,4.0,1.0,31-01-1991,148.798660,-32.64053,0.25,...,3.0,2021-10-01T19:04:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2039871,ASRIS,NatSoil,CSIRO,899_SSM_SSM9_1,6.0,1.0,31-01-1991,148.798660,-32.64053,0.7,...,3.0,2021-10-01T19:04:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
d1 = master[master['ObservedProperty'] == '2A1'].head()

In [8]:
d2 = master[master['ObservedProperty'] == '5A2'].head()

In [23]:
col = ['Latitude', 'Longitude', 'UpperDepth', 'LowerDepth', 'Value', 'UNITS', 'LAB_METH_SHORT_NAME']

In [24]:
d1.columns

Index(['DataStore', 'Dataset', 'Provider', 'Location_ID', 'Layer_ID',
       'SampleID', 'SampleDate', 'Longitude', 'Latitude', 'UpperDepth',
       'LowerDepth', 'PropertyType', 'ObservedProperty', 'Value', 'Units',
       'QualCollection', 'QualSpatialAggregation', 'QualManagement',
       'QualSpatialAccuracy', 'ExtractTime', 'LAB_METH_CODE', 'LAB_METH_NAME',
       'LAB_METH_SHORT_NAME', 'CREATED_BY', 'CREATION_DATE', 'LAST_UPDATED_BY',
       'LAST_UPDATE_DATE', 'UNITS'],
      dtype='object')

In [25]:
d1[col]

,Latitude,Longitude,UpperDepth,LowerDepth,Value,UNITS,LAB_METH_SHORT_NAME
880957,-24.85381,151.160172,0,0.05,6.2,%,Moisture content - air-dry
880958,-24.85381,151.160172,0.15,0.2,7.7,%,Moisture content - air-dry
880959,-24.85381,151.160172,0.2,0.3,7.5,%,Moisture content - air-dry
880960,-24.85381,151.160172,0.5,0.6,8.3,%,Moisture content - air-dry
880961,-24.85381,151.160172,0.8,0.9,10.4,%,Moisture content - air-dry

In [26]:
d2[col]

,Latitude,Longitude,UpperDepth,LowerDepth,Value,UNITS,LAB_METH_SHORT_NAME
1268695,-24.85381,151.160172,0,0.05,28,mg/kg,Cl - 1:5 water - automated
1268696,-24.85381,151.160172,0.05,0.15,25,mg/kg,Cl - 1:5 water - automated
1268697,-24.85381,151.160172,0.15,0.2,25,mg/kg,Cl - 1:5 water - automated
1268698,-24.85381,151.160172,0.2,0.3,25,mg/kg,Cl - 1:5 water - automated
1268699,-24.85381,151.160172,0.3,0.4,73,mg/kg,Cl - 1:5 water - automated

In [5]:
master.columns

Index(['DataStore', 'Dataset', 'Provider', 'Location_ID', 'Layer_ID',
       'SampleID', 'SampleDate', 'Longitude', 'Latitude', 'UpperDepth',
       'LowerDepth', 'PropertyType', 'ObservedProperty', 'Value', 'Units',
       'QualCollection', 'QualSpatialAggregation', 'QualManagement',
       'QualSpatialAccuracy', 'ExtractTime', 'LAB_METH_CODE', 'LAB_METH_NAME',
       'LAB_METH_SHORT_NAME', 'CREATED_BY', 'CREATION_DATE', 'LAST_UPDATED_BY',
       'LAST_UPDATE_DATE', 'UNITS'],
      dtype='object')

In [3]:
master['UpperDepth'] = pd.to_numeric(master.UpperDepth, errors = 'coerce')
master['LowerDepth'] = pd.to_numeric(master.LowerDepth, errors = 'coerce')

In [4]:
temp = master[~(master.Longitude.isnull() | master.Latitude.isnull())]

In [6]:
temp.to_csv('C:\\Users\\siddh\\Desktop\\DES\\Datasets For Use\\latlongfilter.csv')

In [5]:
len(master)

2039872

In [6]:
temp.columns

Index(['DataStore', 'Dataset', 'Provider', 'Location_ID', 'Layer_ID',
       'SampleID', 'SampleDate', 'Longitude', 'Latitude', 'UpperDepth',
       'LowerDepth', 'PropertyType', 'ObservedProperty', 'Value', 'Units',
       'QualCollection', 'QualSpatialAggregation', 'QualManagement',
       'QualSpatialAccuracy', 'ExtractTime', 'LAB_METH_CODE', 'LAB_METH_NAME',
       'LAB_METH_SHORT_NAME', 'CREATED_BY', 'CREATION_DATE', 'LAST_UPDATED_BY',
       'LAST_UPDATE_DATE', 'UNITS'],
      dtype='object')

In [7]:
temp['LAB_METH_CODE'].isna().sum()

517497

In [8]:
temp['LAB_METH_NAME'] = temp['LAB_METH_NAME'].str.lower()
temp['LAB_METH_SHORT_NAME'] = temp['LAB_METH_SHORT_NAME'].str.lower()

<ipython-input-8-f2fc2670a57f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['LAB_METH_NAME'] = temp['LAB_METH_NAME'].str.lower()
<ipython-input-8-f2fc2670a57f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['LAB_METH_SHORT_NAME'] = temp['LAB_METH_SHORT_NAME'].str.lower()

In [9]:
temp.head()

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,...,QualSpatialAccuracy,ExtractTime,LAB_METH_CODE,LAB_METH_NAME,LAB_METH_SHORT_NAME,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,UNITS
0,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,2.0,2.0,01-01-1993,151.160172,-24.85381,0.00,...,3.0,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%
1,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,4.0,4.0,01-01-1993,151.160172,-24.85381,0.15,...,3.0,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%
2,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,5.0,5.0,01-01-1993,151.160172,-24.85381,0.20,...,3.0,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%
3,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,8.0,8.0,01-01-1993,151.160172,-24.85381,0.50,...,3.0,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%
4,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,11.0,11.0,01-01-1993,151.160172,-24.85381,0.80,...,3.0,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%

In [10]:
# There are no null values in the 'ObservedProperty' column of the dataframe. 

# 'LAB_METH_CODE' has null values present in the column. 

# Therefore, to check what properties correspond to bulk density, please use the observed properties column instead, since 
# there are 0 null values in the observed properties column. 

temp['ObservedProperty'].isnull().values.any(), temp['LAB_METH_CODE'].isnull().sum()

(False, 517497)

In [3]:
# Using the lab methods file to get the methods for bulk density. 

labmethods = pd.read_csv('C:\\Users\\siddh\\Desktop\\DES\\lab_methods.csv')
labmethods

,LAB_METH_CODE,LAB_METH_NAME,LAB_METH_SHORT_NAME,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,UNITS
0,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
1,10A3,C N S; Dumas,CNS,SALI,22-Jan-07,SALI,22-Jan-07,%
2,10A_NR,Total element - S (%) - Not recorded (CSIRO La...,Total S,CHRISTNG,1-Jun-21,CHRISTNG,1-Jun-21,NaN
3,10B1,Calcium phosphate-extractable sulfur - manual ...,CaPhos Extr S - manual,SALI,11-Mar-03,SALI,11-Mar-03,NaN
4,10B2,Calcium phosphate-extractable sulfur - automat...,CaPhos Extr S - automated,SALI,11-Mar-03,SALI,11-Mar-03,NaN
...,...,...,...,...,...,...,...,...
770,s-23F,TAA - calculated as equivalent pyrite S%,TAA - pyrite equiv,SALIP,28-Jul-05,SALIP,28-Jul-05,%
771,s-23G,TPA - calculated as equivalent pyrite S%,TPA - pyrite equiv,SALIP,28-Jul-05,SALIP,28-Jul-05,%
772,s-23H,TSA - calculated as equivalent pyrite S%,TSA - pyrite equiv,SALIP,28-Jul-05,SALIP,28-Jul-05,%
773,s-23R,Residual acid extractable S after peroxide exp...,RAS - pyrite equiv,SALIP,28-Jul-05,SALIP,28-Jul-05,%
774,s_23H,TSA - calculated as equivalent pyrite S%,TSA - pyrite equiv,SALI,27-Mar-19,SALI,27-Mar-19,%

In [12]:
labmethods['LAB_METH_NAME'] = labmethods['LAB_METH_NAME'].str.lower()
labmethods['LAB_METH_SHORT_NAME'] = labmethods['LAB_METH_SHORT_NAME'].str.lower()

In [13]:
### All the possible bulk densities are present in -> bdmethods. 

s = 'bulk density'
s1 = 'bulk-density'

bdmethods = []

for line, row in labmethods.iterrows(): 
    
    if(s in row['LAB_METH_NAME']): 
        bdmethods.append(row['LAB_METH_CODE'])
    
    if(s1 in row['LAB_METH_NAME']): 
        bdmethods.append(row['LAB_METH_CODE'])

In [14]:
bdmethods

['2Z3', '503.01a', '503.05a', '503.08a', 'P3A_NR']

In [15]:
### All the possible organic carbon contents are present in -> carbonmethods

oc = 'organic carbon'

carbonmethods = []

for line, row in labmethods.iterrows(): 
    if(oc in row['LAB_METH_NAME']): 
        carbonmethods.append(row['LAB_METH_CODE'])

In [16]:
# carbonmethods

In [17]:
### Now, we need to obtain the soils, which have bulk density readings. 
### Each soil is corresponded by a unique latitude and longitude. 

### Get the lats and longs for each soil that have bulk density readings. 
### temp dataset has to be used for this.

In [18]:
# We can store latitudes and longitudes in 2 separate lists. 

                # (OR) 
    
# We can store latitudes and longitudes in a dictionary in the following format. 

# {latitude: longitude}; lat -> key     long -> value. 


len(temp)
# temp.head()

1937116

In [19]:
# Each soil's latitudes and longitudes are stored in these lists. 

latitudes = []
longitudes = []


line_numbers = []

In [20]:
for line, row in temp.iterrows(): 
    if row['ObservedProperty'] in bdmethods: 
        latitudes.append(float(row['Latitude']))
        longitudes.append(float(row['Longitude']))
        line_numbers.append(int(line))

In [21]:
temp.columns

Index(['DataStore', 'Dataset', 'Provider', 'Location_ID', 'Layer_ID',
       'SampleID', 'SampleDate', 'Longitude', 'Latitude', 'UpperDepth',
       'LowerDepth', 'PropertyType', 'ObservedProperty', 'Value', 'Units',
       'QualCollection', 'QualSpatialAggregation', 'QualManagement',
       'QualSpatialAccuracy', 'ExtractTime', 'LAB_METH_CODE', 'LAB_METH_NAME',
       'LAB_METH_SHORT_NAME', 'CREATED_BY', 'CREATION_DATE', 'LAST_UPDATED_BY',
       'LAST_UPDATE_DATE', 'UNITS'],
      dtype='object')

In [22]:
#lbv = []

In [23]:
# Longitudes and Latitudes are appended to the list ->(longitude, latitude)

for i in range(len(latitudes)):
    tup = (longitudes[i], latitudes[i])
    lbv.append(tup)

NameError: name 'lbv' is not defined

In [23]:
tup_long_lat = []

In [24]:
Longitude = list(temp.Longitude)
Latitude = list(temp.Latitude)

In [25]:
for i in range(len(Longitude)):
    tup_new = (Longitude[i], Latitude[i])
    tup_long_lat.append(tup_new)

In [26]:
temp['tup_long_lat'] = tup_long_lat

<ipython-input-26-b76505d41991>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['tup_long_lat'] = tup_long_lat

In [27]:
temp['tup_long_lat']

0                   (151.160172, -24.85381)
1                   (151.160172, -24.85381)
2                   (151.160172, -24.85381)
3                   (151.160172, -24.85381)
4                   (151.160172, -24.85381)
                         ...
2039867    (148.7986602783, -32.6405296326)
2039868    (148.7986602783, -32.6405296326)
2039869    (148.7986602783, -32.6405296326)
2039870    (148.7986602783, -32.6405296326)
2039871    (148.7986602783, -32.6405296326)
Name: tup_long_lat, Length: 1937116, dtype: object

In [28]:
# Making sure the indices are uniform. 

temp.reset_index(inplace=True)

In [29]:
temp = temp.drop('index', axis = 1)

In [30]:
temp.head()

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,...,ExtractTime,LAB_METH_CODE,LAB_METH_NAME,LAB_METH_SHORT_NAME,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,UNITS,tup_long_lat
0,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,2.0,2.0,01-01-1993,151.160172,-24.85381,0.00,...,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(151.160172, -24.85381)"
1,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,4.0,4.0,01-01-1993,151.160172,-24.85381,0.15,...,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(151.160172, -24.85381)"
2,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,5.0,5.0,01-01-1993,151.160172,-24.85381,0.20,...,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(151.160172, -24.85381)"
3,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,8.0,8.0,01-01-1993,151.160172,-24.85381,0.50,...,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(151.160172, -24.85381)"
4,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,11.0,11.0,01-01-1993,151.160172,-24.85381,0.80,...,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(151.160172, -24.85381)"

In [31]:
df_new = pd.DataFrame(temp.groupby(['tup_long_lat'])['ObservedProperty'].apply(list))

In [32]:
df_new.reset_index(inplace=True)

In [33]:
#df_new.set_index('tup_long_lat', inplace=True)

In [34]:
df_new

,tup_long_lat,ObservedProperty
0,"(0.0, 0.0)","[15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR..."
1,"(76.3850277777778, -45.59777777777778)","[17A1, 3A1, 6A1, 9A3a, 9B2, P10_GRAV, P10_PB_C..."
2,"(77.952206, -68.600098)","[3A1, 6A1, 9B2, P10_GRAV]"
3,"(77.95222700000002, -68.60011300000001)","[3A1, 6A1, 9B2, P10_GRAV]"
4,"(77.95225, -68.60012900000001)","[3A1, 6A1, 9B2, P10_GRAV]"
...,...,...
135322,"(153.498535, -27.51729000000001)","[3A1, 3A1, 5A2, 5A2, 6B4, 6B4, 7A7, 7A7, 7B1, ..."
135323,"(153.49854, -27.51729000000001)",[o_id]
135324,"(153.4989, -27.517429999999997)","[3A1, 3A1, 3A1, 5A2, 5A2, 5A2, 6B4, 6B4, 6B4, ..."
135325,"(153.62376, -27.868579999999998)",[o_id]
135326,"(153.99079, -27.79422000000001)",[o_id]

In [35]:
#for line, row in temp.iterrows(): 
#    if row['Latitude'] == 0.0: 
#        print(line)
        
        
#for line, row in temp.iterrows(): 
#    if row['Longitude'] == 0.0: 
#        print(line)

In [36]:
#df_new.to_csv('C:\\Users\\siddh\\Desktop\\DES\\Datasets For Use\\long_lat_props.csv',index_col = False )

In [37]:
 len(longitudes), len(latitudes)

(10774, 10774)

In [38]:
len (df_new)

135327

In [39]:
match_location = []
match_props = []

In [40]:
long_lat_compare = []

for i in range(len(longitudes)): 
    t = (longitudes[i], latitudes[i])
    long_lat_compare.append(t)

In [41]:
len(long_lat_compare)

10774

In [108]:
# Highle inefficient, do not run please. 

for line, row in df_new.iterrows():
    
    for i in long_lat_compare:  
        
        if(i == row['tup_long_lat']): 
            match_location.append(row['tup_long_lat'])
            match_props.append(row['ObservedProperty'])
            break

KeyboardInterrupt:

In [42]:
 long_lat_compare[10000]

(146.323914, -23.59155)

In [43]:
df_new.index

RangeIndex(start=0, stop=135327, step=1)

In [51]:
list(df_new.loc[[(76.3850277777778, -45.59777777777778)]]['ObservedProperty'])[0]

KeyError: "None of [Index([(76.3850277777778, -45.59777777777778)], dtype='object')] are in the [index]"

In [44]:
#long_lat_compare

In [45]:
df_new

,tup_long_lat,ObservedProperty
0,"(0.0, 0.0)","[15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR..."
1,"(76.3850277777778, -45.59777777777778)","[17A1, 3A1, 6A1, 9A3a, 9B2, P10_GRAV, P10_PB_C..."
2,"(77.952206, -68.600098)","[3A1, 6A1, 9B2, P10_GRAV]"
3,"(77.95222700000002, -68.60011300000001)","[3A1, 6A1, 9B2, P10_GRAV]"
4,"(77.95225, -68.60012900000001)","[3A1, 6A1, 9B2, P10_GRAV]"
...,...,...
135322,"(153.498535, -27.51729000000001)","[3A1, 3A1, 5A2, 5A2, 6B4, 6B4, 7A7, 7A7, 7B1, ..."
135323,"(153.49854, -27.51729000000001)",[o_id]
135324,"(153.4989, -27.517429999999997)","[3A1, 3A1, 3A1, 5A2, 5A2, 5A2, 6B4, 6B4, 6B4, ..."
135325,"(153.62376, -27.868579999999998)",[o_id]
135326,"(153.99079, -27.79422000000001)",[o_id]

In [54]:
for line, row in df_new1.iterrows(): 
    print(row)
    break

NameError: name 'df_new1' is not defined

In [46]:
df_new.reset_index()

,index,tup_long_lat,ObservedProperty
0,0,"(0.0, 0.0)","[15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR..."
1,1,"(76.3850277777778, -45.59777777777778)","[17A1, 3A1, 6A1, 9A3a, 9B2, P10_GRAV, P10_PB_C..."
2,2,"(77.952206, -68.600098)","[3A1, 6A1, 9B2, P10_GRAV]"
3,3,"(77.95222700000002, -68.60011300000001)","[3A1, 6A1, 9B2, P10_GRAV]"
4,4,"(77.95225, -68.60012900000001)","[3A1, 6A1, 9B2, P10_GRAV]"
...,...,...,...
135322,135322,"(153.498535, -27.51729000000001)","[3A1, 3A1, 5A2, 5A2, 6B4, 6B4, 7A7, 7A7, 7B1, ..."
135323,135323,"(153.49854, -27.51729000000001)",[o_id]
135324,135324,"(153.4989, -27.517429999999997)","[3A1, 3A1, 3A1, 5A2, 5A2, 5A2, 6B4, 6B4, 6B4, ..."
135325,135325,"(153.62376, -27.868579999999998)",[o_id]
135326,135326,"(153.99079, -27.79422000000001)",[o_id]

In [47]:
df_new

,tup_long_lat,ObservedProperty
0,"(0.0, 0.0)","[15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR..."
1,"(76.3850277777778, -45.59777777777778)","[17A1, 3A1, 6A1, 9A3a, 9B2, P10_GRAV, P10_PB_C..."
2,"(77.952206, -68.600098)","[3A1, 6A1, 9B2, P10_GRAV]"
3,"(77.95222700000002, -68.60011300000001)","[3A1, 6A1, 9B2, P10_GRAV]"
4,"(77.95225, -68.60012900000001)","[3A1, 6A1, 9B2, P10_GRAV]"
...,...,...
135322,"(153.498535, -27.51729000000001)","[3A1, 3A1, 5A2, 5A2, 6B4, 6B4, 7A7, 7A7, 7B1, ..."
135323,"(153.49854, -27.51729000000001)",[o_id]
135324,"(153.4989, -27.517429999999997)","[3A1, 3A1, 3A1, 5A2, 5A2, 5A2, 6B4, 6B4, 6B4, ..."
135325,"(153.62376, -27.868579999999998)",[o_id]
135326,"(153.99079, -27.79422000000001)",[o_id]

In [48]:
len(bd_coords), len(long_lat_compare)

NameError: name 'bd_coords' is not defined

In [48]:
bd_coords = []

In [49]:
# long_lat_compare is the variable that holds (longitudes, latitudes)

for i in long_lat_compare: 
    if list(i) not in bd_coords: 
        bd_coords.append(list(i))
        
        
# long_lat_compare =[(long1, lat1), (long2, lat2), .......]
# bd_coords = [[long1, lat1], [long2, lat2], .......]

In [50]:
import copy
copy_bd_coords = copy.deepcopy(bd_coords)

df_new_copy = copy.deepcopy(df_new)
#df_new_copy.head()

In [51]:
# Once a row match is made, remove that row from the bd_coords list and continue with the iterations. 

# locations that match with existing bd_coords and df_new rows. 
# corresponding properties will be added to the match_props. 
match_location = []
match_props = []

In [52]:
len(copy_bd_coords)

369

In [53]:
match_found = 0

In [54]:
# iterate through the rows of the dataframe. 
for line, row in df_new_copy.iterrows(): 
    
    # iterate through the coordinates of longitudes and latitudes of copy_bd_coords
    for i in range(len(copy_bd_coords)): 
        
        
        if (copy_bd_coords[i] == list(row['tup_long_lat'])): 
            match_found += 1
            match_location.append(list(row['tup_long_lat']))
            match_props.append(row['ObservedProperty'])
            
            copy_bd_coords.pop(i)
            df_new_copy.drop(line)
            
            break

In [55]:
len(match_location), len(match_props)

(369, 369)

In [56]:
# Just to make sure that all the coords from df_new and properties are sorted into lists.

In [57]:
matchl = copy.deepcopy(match_location)
matchp = copy.deepcopy(match_props)
counter = 0

In [58]:
for line, row in df_new_copy.iterrows(): 
    
    for i in range(len(matchl)): 
        
        if (matchl[i] == list(row['tup_long_lat'])): 
            counter += 1
            
            matchl.pop(i)
            df_new_copy = df_new_copy.drop(line)
            
            break

In [59]:
df_new_copy

,tup_long_lat,ObservedProperty
0,"(0.0, 0.0)","[15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR..."
1,"(76.3850277777778, -45.59777777777778)","[17A1, 3A1, 6A1, 9A3a, 9B2, P10_GRAV, P10_PB_C..."
2,"(77.952206, -68.600098)","[3A1, 6A1, 9B2, P10_GRAV]"
3,"(77.95222700000002, -68.60011300000001)","[3A1, 6A1, 9B2, P10_GRAV]"
4,"(77.95225, -68.60012900000001)","[3A1, 6A1, 9B2, P10_GRAV]"
...,...,...
135322,"(153.498535, -27.51729000000001)","[3A1, 3A1, 5A2, 5A2, 6B4, 6B4, 7A7, 7A7, 7B1, ..."
135323,"(153.49854, -27.51729000000001)",[o_id]
135324,"(153.4989, -27.517429999999997)","[3A1, 3A1, 3A1, 5A2, 5A2, 5A2, 6B4, 6B4, 6B4, ..."
135325,"(153.62376, -27.868579999999998)",[o_id]
135326,"(153.99079, -27.79422000000001)",[o_id]

In [60]:
counter = 1
str(counter) + '' + 'hello'

'1hello'

In [61]:
# locations that have bulk density measurements (longitudes, latitudes)

len(match_location)

369

In [62]:
# Saving all the soil dataframes with the above longitudes and latitudes in csv files.

In [63]:
#match_location[i][0] #Longitude

#match_location[i][1] #Latitude

In [64]:
location = 'C:\\Users\\siddh\\Desktop\\DES\\Spline Files\\'

In [95]:
#   !!DO NOT RE-EXECUTE PLEASE.

counter = 1

for i in range(len(match_location)): 
    subset = temp[temp['Longitude'] == match_location[i][0]]
    save = subset[subset['Latitude'] == match_location[i][1]]
    
    save.to_csv(location+str(counter)+'.csv', index = False)
    counter += 1

In [65]:
counter

1

In [66]:
len(df_new)

135327

In [67]:
len(match_location)

369

In [68]:
mloc = copy.deepcopy(match_location)
df_new_copy = copy.deepcopy(df_new)

In [69]:
final_coord = []
final_props = []

not_required = []

In [107]:
for line, row in df_new_copy.iterrows(): 
    found = 0
    for c in mloc: 
        
        if (tuple(c) == (row['tup_long_lat'])): 
            found = 1
            mloc.remove(c)
            df_new_copy.drop(labels = line, axis = 0)
            break
            
    if (found == 0): 
        df_new_copy.drop(labels = line, axis = 0)

KeyboardInterrupt:

In [70]:
len(mloc)

369

In [71]:
df_new_copy

,tup_long_lat,ObservedProperty
0,"(0.0, 0.0)","[15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR_CA, 15_NR..."
1,"(76.3850277777778, -45.59777777777778)","[17A1, 3A1, 6A1, 9A3a, 9B2, P10_GRAV, P10_PB_C..."
2,"(77.952206, -68.600098)","[3A1, 6A1, 9B2, P10_GRAV]"
3,"(77.95222700000002, -68.60011300000001)","[3A1, 6A1, 9B2, P10_GRAV]"
4,"(77.95225, -68.60012900000001)","[3A1, 6A1, 9B2, P10_GRAV]"
...,...,...
135322,"(153.498535, -27.51729000000001)","[3A1, 3A1, 5A2, 5A2, 6B4, 6B4, 7A7, 7A7, 7B1, ..."
135323,"(153.49854, -27.51729000000001)",[o_id]
135324,"(153.4989, -27.517429999999997)","[3A1, 3A1, 3A1, 5A2, 5A2, 5A2, 6B4, 6B4, 6B4, ..."
135325,"(153.62376, -27.868579999999998)",[o_id]
135326,"(153.99079, -27.79422000000001)",[o_id]

In [72]:
for line, row in df_new_copy.iterrows(): 
    p = 0
    
    for c in mloc: 
        
        if (tuple(c) == (row['tup_long_lat'])): 
            p = 1
            break
            
    if (p == 0): 
        not_required.append(line)

In [73]:
len(not_required)+369

135327

In [74]:
df_new_copy = df_new_copy.drop(labels = not_required, axis = 0)

In [75]:
df_new_copy = df_new_copy.reset_index()

In [76]:
df_new_copy.drop('index', inplace = True, axis = 1)

In [77]:
df_new_copy

,tup_long_lat,ObservedProperty
0,"(138.337753, -17.44456)","[10A1, 10A1, 10A1, 10A1, 15A1_K, 15A1_K, 15A1_..."
1,"(138.384857, -17.4999)","[10A1, 10A1, 10A1, 10A1, 10A1, 15A1_K, 15A1_K,..."
2,"(138.447784, -19.655070000000002)","[10A1, 10A1, 10A1, 10A1, 10A1, 15C1_CEC, 15C1_..."
3,"(138.5229, -18.738870000000002)","[10A1, 10A1, 10A1, 10A1, 10A1, 15C1_CEC, 15C1_..."
4,"(138.6337, -19.6318)","[10A1, 10A1, 10A1, 10A1, 15C1_CEC, 15C1_CEC, 1..."
...,...,...
364,"(152.759964, -26.639870000000002)","[3A1, 3A1, 3A1, 3A1, 3A1, 503.01a, 503.01a, 50..."
365,"(152.81364399999995, -26.82756)","[3A1, 3A1, 3A1, 3A1, 3A1, 3A1, 503.01a, 503.01..."
366,"(152.823853, -26.948009999999996)","[15A1_K, 15A1_K, 15C1_CEC, 15C1_K, 15G1_H, 15G..."
367,"(152.882477, -26.813000000000002)","[3A1, 3A1, 3A1, 3A1, 3A1, 503.01a, 503.01a, 50..."
368,"(152.889557, -26.3795)","[3A1, 3A1, 3A1, 3A1, 3A1, 503.01a, 503.01a, 50..."

In [78]:
use_this = copy.deepcopy(df_new_copy)

In [79]:
for line, row in use_this.iterrows(): 
    row['ObservedProperty'] = set(row['ObservedProperty'])

In [80]:
use_this

,tup_long_lat,ObservedProperty
0,"(138.337753, -17.44456)","{503.01a, 7A7, 2Z2_FS, 2Z2_Silt, 17A1, 2Z2_CS,..."
1,"(138.384857, -17.4999)","{503.01a, 7A7, 2Z2_FS, 2Z2_Silt, 17A1, 2Z2_CS,..."
2,"(138.447784, -19.655070000000002)","{9A1, 503.01a, 15C1_K, 2Z2_FS, 6B5, 2Z2_Silt, ..."
3,"(138.5229, -18.738870000000002)","{9A1, 503.01a, 15C1_K, 2Z2_FS, 6B5, 2Z2_Silt, ..."
4,"(138.6337, -19.6318)","{9A1, 503.01a, 15C1_K, 2Z2_FS, 6B5, 2Z2_Silt, ..."
...,...,...
364,"(152.759964, -26.639870000000002)","{5A2, 3A1, 503.01a}"
365,"(152.81364399999995, -26.82756)","{5A2, 3A1, 503.01a}"
366,"(152.823853, -26.948009999999996)","{503.01a, 15G1_H, 9A3a, 15C1_K, 15J1, 5A2, 15L..."
367,"(152.882477, -26.813000000000002)","{5A2, 3A1, 503.01a}"
368,"(152.889557, -26.3795)","{5A2, 3A1, 503.01a}"

In [81]:
len(bd_coords)
count = 0

In [82]:
for value in use_this['ObservedProperty'][0]: 
    print(value)

503.01a
7A7
2Z2_FS
2Z2_Silt
17A1
2Z2_CS
5A2
3A1
15A1_K
2Z2_Clay
7B1
9A1
10A1
6B4
2A1

In [83]:
count_list = []

for line, row in use_this.iterrows(): 
    
    for value in row['ObservedProperty']: 
        if value not in bdmethods: 
            count_list.append(value)

In [84]:
bdmethods

['2Z3', '503.01a', '503.05a', '503.08a', 'P3A_NR']

In [85]:
len(count_list)

4186

In [86]:
key_count = {}

In [87]:
'P3A_NR' in count_list

False

In [88]:
unique_count_list = list(set(count_list))
len(unique_count_list)

53

In [89]:
for value in unique_count_list: 
    value_count = count_list.count(value)
    key_count[value] = value_count

In [90]:
key_count

{'7A7': 90,
 '15C1_K': 189,
 '9B2': 23,
 '18F1_B': 22,
 '7A5': 2,
 '6A1': 107,
 '3A1': 354,
 '15L1': 26,
 '2A1_MQ02': 18,
 '10A1': 159,
 '15O1': 1,
 'o_id': 46,
 '2E1_MQ02': 18,
 '6B5': 115,
 '2Z2_Silt': 170,
 '2A1_MQ01': 29,
 '17A1': 159,
 '9F2': 1,
 '15N1': 151,
 '6B4': 95,
 '6B4b_MQ01': 29,
 '2B1': 87,
 '9G2': 18,
 '18F1_S': 22,
 '18F1_P': 22,
 '10B3': 40,
 '2Z2_FS': 170,
 '15G2': 17,
 '2Z2_CS': 170,
 '5A2': 353,
 '7A6B_MQ01': 29,
 '15A1_K': 70,
 '2Y2': 5,
 '19A1': 1,
 '9A1': 159,
 '2A1': 288,
 '7C2_NO3': 42,
 '2Z2_Clay': 170,
 '7A2': 104,
 '18F1_K': 22,
 '15G1_H': 34,
 '6B4b_MQ02': 18,
 '7A6B_MQ02': 18,
 '9A3a': 1,
 '15J1': 54,
 '15J2_MQ02': 18,
 '7B1': 189,
 '2E1_MQ01': 29,
 '6B2a': 2,
 '7C2_NH4': 10,
 '18C1': 1,
 '18B1': 30,
 '15C1_CEC': 189}

In [91]:
len(count_list)

4186

In [92]:
import operator
import collections

sorted_key_count = sorted(key_count.items(), key=lambda x: x[1], reverse=True)

In [93]:
sorted_key_count

[('3A1', 354),
 ('5A2', 353),
 ('2A1', 288),
 ('15C1_K', 189),
 ('7B1', 189),
 ('15C1_CEC', 189),
 ('2Z2_Silt', 170),
 ('2Z2_FS', 170),
 ('2Z2_CS', 170),
 ('2Z2_Clay', 170),
 ('10A1', 159),
 ('17A1', 159),
 ('9A1', 159),
 ('15N1', 151),
 ('6B5', 115),
 ('6A1', 107),
 ('7A2', 104),
 ('6B4', 95),
 ('7A7', 90),
 ('2B1', 87),
 ('15A1_K', 70),
 ('15J1', 54),
 ('o_id', 46),
 ('7C2_NO3', 42),
 ('10B3', 40),
 ('15G1_H', 34),
 ('18B1', 30),
 ('2A1_MQ01', 29),
 ('6B4b_MQ01', 29),
 ('7A6B_MQ01', 29),
 ('2E1_MQ01', 29),
 ('15L1', 26),
 ('9B2', 23),
 ('18F1_B', 22),
 ('18F1_S', 22),
 ('18F1_P', 22),
 ('18F1_K', 22),
 ('2A1_MQ02', 18),
 ('2E1_MQ02', 18),
 ('9G2', 18),
 ('6B4b_MQ02', 18),
 ('7A6B_MQ02', 18),
 ('15J2_MQ02', 18),
 ('15G2', 17),
 ('7C2_NH4', 10),
 ('2Y2', 5),
 ('7A5', 2),
 ('6B2a', 2),
 ('15O1', 1),
 ('9F2', 1),
 ('19A1', 1),
 ('9A3a', 1),
 ('18C1', 1)]

In [95]:
total = 0
for key, value in sorted_key_count: 
    total = total + value

In [96]:
total

4186

In [97]:
import os
props_present = []
num_select_soils = []
interests = ['3A1.csv', '5A2.csv', '2A1.csv', '7B1.csv', '15C1_K.csv', 
             '15C1_CEC.csv', '2Z2_Clay.csv', '2Z2_FS.csv', '2Z2_CS.csv', '2Z2_Silt.csv']

In [98]:
currloc = 'C:\\Users\\siddh\\Desktop\\DES\\Spline Files\\'
newloc = 'C:\\Users\\siddh\\Desktop\\DES\\Multiple Split Files\\'
start = 1 
ext = '.csv'

In [103]:
for i in range(1,370): 
    num_check = 0
    
    file = (newloc + 'Soil ' + str(i) + '\\')
    #print(file)
    entries = os.listdir(file)
    #print(entries)
    
    
    for value in entries: 
        
        if value in interests:
            #print(value)
            num_check += 1
            props_present.append(value)
            
    select_soils.append(props_present)
    num_select_soils.append(num_check)
    
    #break

In [105]:
select_soils[0]

['15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '3A1.csv',
 '5A2.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '15C1_CEC.csv',
 '15C1_K.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 '7B1.csv',
 '2A1.csv',
 '2Z2_Clay.csv',
 '2Z2_CS.csv',
 '2Z2_FS.csv',
 '2Z2_Silt.csv',
 '3A1.csv',
 '5A2.csv',
 ...]

In [100]:
bdmethods

['2Z3', '503.01a', '503.05a', '503.08a', 'P3A_NR']

In [101]:
how_many = 0
for i in select_soils: 
    if(i == 0): 
        how_many += 1 
        
print(how_many)

0

In [102]:
(select_soils[0], num_select_soils)

(['15C1_CEC.csv', '15C1_K.csv', '2A1.csv', '3A1.csv', '5A2.csv'], [5])

In [152]:
import os
props_present = []
num_select_soils = []
interests = ['3A1.csv', '5A2.csv', '2A1.csv', '7B1.csv', '15C1_K.csv', 
             '15C1_CEC.csv', '2Z2_Clay.csv', '2Z2_FS.csv', '2Z2_CS.csv', '2Z2_Silt.csv']

In [153]:
import os
props_present = []
num_select_soils = []
interests = ['3A1.csv', '5A2.csv', '2A1.csv', '7B1.csv', '15C1_K.csv', 
             '15C1_CEC.csv', '2Z2_Clay.csv', '2Z2_FS.csv', '2Z2_CS.csv', '2Z2_Silt.csv']


currloc = 'C:\\Users\\siddh\\Desktop\\DES\\Spline Files\\'
newloc = 'C:\\Users\\siddh\\Desktop\\DES\\Multiple Split Files\\'
start = 1 
ext = '.csv'

In [146]:
for i in range(1,370): 
    num_check = 0
    
    file = (newloc + 'Soil ' + str(i) + '\\')
    #print(file)
    entries = os.listdir(file)
    #print(entries)
    
    
    for j in range (len(entries)): 
        
        if entries[j] in interests:
            #print(value)
            num_check += 1
            #props_present.append(value)
            
    #select_soils.append(props_present)
    num_select_soils.append(num_check)
    #print(num_check)

In [108]:
entries[0]

'10A1.csv'

In [139]:
how_many = 0
for i in num_select_soils: 
    if i > 4: 
        how_many += 1
how_many

# if i = 10, all 10 properties are present for the given soil 
# if i = 9, 9 out of the 10 properties are present for the given soil

246

In [140]:
mps_soils = []

In [154]:
for i in range(1,370): 
    onep = 0
    twop = 0
    threep = 0
    fourp = 0 
    fivep = 0
    sixp = 0
    sevenp = 0
    eightp = 0
    ninep = 0
    tenp= 0
    
    file = (newloc + 'Soil ' + str(i) + '\\')
    #print(file)
    entries = os.listdir(file)
    #print(entries)
    
    
    for j in range (len(entries)): 
        
        if entries[j] == '3A1.csv':
            onep += 1
            
        if entries[j] == '5A2.csv':
            twop += 1
            
        if entries[j] == '2A1.csv':
            threep += 1
            
        if entries[j] == '7B1.csv':
            fourp += 1
            
        if entries[j] == '15C1_K.csv':
            fivep += 1
            
        if entries[j] == '15C1_CEC.csv':
            sixp += 1
            
        if entries[j] == '2Z2_Clay.csv':
            sevenp += 1
            
        if entries[j] == '2Z2_FS.csv':
            eightp += 1
            
        if entries[j] == '2Z2_CS.csv':
            ninep += 1
            
        if entries[j] == '2Z2_Silt.csv':
            tenp += 1
    
                        
    #select_soils.append(props_present)
    num_select_soils.append(num_check)
    #print(num_check)

In [157]:
for val in num_select_soils: 
    if val == 0: 
        print('a')

a
a
a
a
a
a
a
a
a
a
a
a
a
a
a

In [185]:
import os
props_present = []
num_select_soils = []
interests = ['3A1.csv', '5A2.csv', '2A1.csv', '7B1.csv', '15C1_K.csv', 
             '15C1_CEC.csv', '2Z2_Clay.csv', '2Z2_FS.csv', '2Z2_CS.csv', '2Z2_Silt.csv']


currloc = 'C:\\Users\\siddh\\Desktop\\DES\\Spline Files\\'
newloc = 'C:\\Users\\siddh\\Desktop\\DES\\Multiple Split Files\\'
start = 1 
ext = '.csv'

In [186]:
num_select_soils = []
for i in range(1,370): 
    num_check = 0
    
    file = (newloc + 'Soil ' + str(i) + '\\')
    entries = os.listdir(file)

    for j in range (len(entries)): 
        
        if entries[j] in '3A1.csv':
            num_check += 1            
    num_select_soils.append(num_check)

In [188]:
len(num_select_soils)

c = 0
for value in num_select_soils: 
    if value == 1:
        c += 1
c

354

In [189]:
for i in range(1,370): 
    num_check = 0
    
    file = (newloc + 'Soil ' + str(i) + '\\')
    
    entries = os.listdir(file)
    
    for j in range (len(entries)): 
        
        if entries[j] in '5A2.csv':
            num_select_soils[i-1] += 1
            break

In [190]:
c = 0
for value in num_select_soils: 
    if value == 2:
        c += 1
c

353

In [191]:
for i in range(1,370): 
    num_check = 0
    
    file = (newloc + 'Soil ' + str(i) + '\\')
    
    entries = os.listdir(file)
    
    for j in range (len(entries)): 
        
        if entries[j] in '2A1.csv':
            num_select_soils[i-1] += 1
            break
            
            
    
c = 0
for value in num_select_soils: 
    if value == 3:
        c += 1
c

288

In [192]:
c = 0
for value in num_select_soils: 
    if value == 3:
        c += 1
c

288

In [193]:
for i in range(1,370): 
    num_check = 0
    
    file = (newloc + 'Soil ' + str(i) + '\\')
    
    entries = os.listdir(file)
    
    for j in range (len(entries)): 
        
        if entries[j] in '7B1.csv':
            num_select_soils[i-1] += 1
            break
            
            
    
c = 0
for value in num_select_soils: 
    if value == 4:
        c += 1
c

179

In [212]:
counter = 0
df_soils = []

for i in range(len(num_select_soils)):
    if num_select_soils[i] == 4: 
        df_soils.append(i)
    
    
for val in df_soils: 
    val = val + 1
Nre

In [213]:
len(df_soils)

179

In [214]:
df_soils

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 130,
 132,
 133,
 134,
 186,
 189,
 192,
 208,
 209,
 210,
 213,
 214,
 226,
 227,
 233,
 243,
 244,
 245,
 246,
 247,
 250,
 252,
 253,
 254,
 255,
 256,
 257,
 259,
 260,
 262,
 263,
 264,
 265,
 266,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 282,
 283,
 286,
 288,
 290,
 291,
 292,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 338,
 339]

In [205]:
use_soils = pd.DataFrame(df_soils, columns = ['use'])

In [210]:
use_soils.to_csv('C:\\Users\\siddh\\Desktop\\DES\\Use these soils for ML or Correlation Plots\\use_soils.csv')

In [215]:
bdmethods

['2Z3', '503.01a', '503.05a', '503.08a', 'P3A_NR']