In [53]:
import numpy as np 
import pandas as pd 

import seaborn as sns 
import matplotlib.pyplot as plt 
import csv

from matplotlib import colors
from matplotlib.ticker import PercentFormatter

In [54]:
master = pd.read_csv("MASTER.csv")

C:\Users\siddh\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9,10,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [56]:
master.head()

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,LowerDepth,PropertyType,ObservedProperty,Value,Units,QualCollection,QualSpatialAggregation,QualManagement,QualSpatialAccuracy,ExtractTime
0,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,2.0,2.0,01-01-1993,151.160172,-24.85381,0,0.05,LaboratoryMeasurement,10A1,0.06,%,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
1,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,4.0,4.0,01-01-1993,151.160172,-24.85381,0.15,0.2,LaboratoryMeasurement,10A1,0.03,%,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
2,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,5.0,5.0,01-01-1993,151.160172,-24.85381,0.2,0.3,LaboratoryMeasurement,10A1,0.03,%,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
3,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,8.0,8.0,01-01-1993,151.160172,-24.85381,0.5,0.6,LaboratoryMeasurement,10A1,0.02,%,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
4,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,11.0,11.0,01-01-1993,151.160172,-24.85381,0.8,0.9,LaboratoryMeasurement,10A1,0.03,%,3.0,2.0,5.0,3.0,2021-10-01T04:39:52

In [8]:
y = master.Units.unique()
len(y)

19

In [57]:
# Trimmed down Data Frame. 

df1 = master[['Longitude', 'Latitude', 'UpperDepth','LowerDepth', 'ObservedProperty', 'Value', 'Units']]
df1

,Longitude,Latitude,UpperDepth,LowerDepth,ObservedProperty,Value,Units
0,151.160172,-24.853810,0,0.05,10A1,0.06,%
1,151.160172,-24.853810,0.15,0.2,10A1,0.03,%
2,151.160172,-24.853810,0.2,0.3,10A1,0.03,%
3,151.160172,-24.853810,0.5,0.6,10A1,0.02,%
4,151.160172,-24.853810,0.8,0.9,10A1,0.03,%
...,...,...,...,...,...,...,...
2613464,137.939902,-35.764266,0,0.1,XRD_C_Vm,0,NaN
2613465,137.939902,-35.764266,0.24,0.34,XRD_C_Vm,0,NaN
2613466,137.119539,-35.805871,0,0.1,XRD_C_Vm,0,NaN
2613467,137.119539,-35.805871,0.2,0.4,XRD_C_Vm,0,NaN
2613468,137.091875,-35.805905,0,0.1,XRD_C_Vm,0,NaN

In [58]:
dfnull = df1[df1['Units'].isnull()]

#Cause of concern, since the data that has null values
dfnull

,Longitude,Latitude,UpperDepth,LowerDepth,ObservedProperty,Value,Units
43102,150.753571,-23.677460,0,0.25,10A3,0.05,NaN
43103,150.753571,-23.677460,0.4,0.6,10A3,0.05,NaN
43104,150.753571,-23.677460,0.8,1,10A3,0.05,NaN
43105,150.753571,-23.677460,1.8,2,10A3,0.1,NaN
43106,150.753571,-23.677460,2.3,2.6,10A3,0.2,NaN
...,...,...,...,...,...,...,...
2613464,137.939902,-35.764266,0,0.1,XRD_C_Vm,0,NaN
2613465,137.939902,-35.764266,0.24,0.34,XRD_C_Vm,0,NaN
2613466,137.119539,-35.805871,0,0.1,XRD_C_Vm,0,NaN
2613467,137.119539,-35.805871,0.2,0.4,XRD_C_Vm,0,NaN
2613468,137.091875,-35.805905,0,0.1,XRD_C_Vm,0,NaN

In [7]:
#dfObs = df[df['ObservedProperty'] == '10A3']

#print(dfObs.Units.unique())

print('Total number of unique properties (master dataset):',len(df.ObservedProperty.unique()), end = '\n\n')
print('Total Number of unique properties in the \'Null Units\' Dataset:', len(dfnull.ObservedProperty.unique()))

Total number of unique properties (master dataset): 591

Total Number of unique properties in the 'Null Units' Dataset: 265

In [8]:
# File to fill in missing units of the Properties: 
# Already in a csv format. `

txtFile = pd.read_csv('C:\\Users\\siddh\\Desktop\\DES\\lab_methods.csv')

In [29]:
#Converting the text file to a csv file. 

#Not required, file already exists in a csv format. 

import csv

# read tab-delimited file
with open('yourfile.tsv','r') as fin:
    cr = csv.reader(fin, delimiter='\t')
    filecontents = [line for line in cr]

# write comma-delimited file (comma is the default delimiter)
with open('yourfile.csv','w') as fou:
    cw = csv.writer(fou, quotechar='', quoting=csv.QUOTE_NONE)
    cw.writerows(filecontents)

FileNotFoundError: [Errno 2] No such file or directory: 'yourfile.tsv'

In [40]:
master.head()

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,LowerDepth,PropertyType,ObservedProperty,Value,Units,QualCollection,QualSpatialAggregation,QualManagement,QualSpatialAccuracy,ExtractTime
0,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,2.0,2.0,01-01-1993,151.160172,-24.85381,0,0.05,LaboratoryMeasurement,10A1,0.06,%,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
1,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,4.0,4.0,01-01-1993,151.160172,-24.85381,0.15,0.2,LaboratoryMeasurement,10A1,0.03,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
2,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,5.0,5.0,01-01-1993,151.160172,-24.85381,0.2,0.3,LaboratoryMeasurement,10A1,0.03,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
3,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,8.0,8.0,01-01-1993,151.160172,-24.85381,0.5,0.6,LaboratoryMeasurement,10A1,0.02,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
4,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,11.0,11.0,01-01-1993,151.160172,-24.85381,0.8,0.9,LaboratoryMeasurement,10A1,0.03,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52

In [34]:
txtFile

,LAB_METH_CODE,LAB_METH_NAME,LAB_METH_SHORT_NAME,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,UNITS
0,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
1,10A3,C N S; Dumas,CNS,SALI,22-Jan-07,SALI,22-Jan-07,%
2,10A_NR,Total element - S (%) - Not recorded (CSIRO La...,Total S,CHRISTNG,1-Jun-21,CHRISTNG,1-Jun-21,NaN
3,10B1,Calcium phosphate-extractable sulfur - manual ...,CaPhos Extr S - manual,SALI,11-Mar-03,SALI,11-Mar-03,NaN
4,10B2,Calcium phosphate-extractable sulfur - automat...,CaPhos Extr S - automated,SALI,11-Mar-03,SALI,11-Mar-03,NaN
...,...,...,...,...,...,...,...,...
770,s-23F,TAA - calculated as equivalent pyrite S%,TAA - pyrite equiv,SALIP,28-Jul-05,SALIP,28-Jul-05,%
771,s-23G,TPA - calculated as equivalent pyrite S%,TPA - pyrite equiv,SALIP,28-Jul-05,SALIP,28-Jul-05,%
772,s-23H,TSA - calculated as equivalent pyrite S%,TSA - pyrite equiv,SALIP,28-Jul-05,SALIP,28-Jul-05,%
773,s-23R,Residual acid extractable S after peroxide exp...,RAS - pyrite equiv,SALIP,28-Jul-05,SALIP,28-Jul-05,%
774,s_23H,TSA - calculated as equivalent pyrite S%,TSA - pyrite equiv,SALI,27-Mar-19,SALI,27-Mar-19,%

In [41]:
df = pd.merge(master, txtFile, left_on = 'ObservedProperty', right_on='LAB_METH_CODE', how = 'left')
df

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,...,QualSpatialAccuracy,ExtractTime,LAB_METH_CODE,LAB_METH_NAME,LAB_METH_SHORT_NAME,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,UNITS
0,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,2.0,2.0,01-01-1993,151.160172,-24.853810,0,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
1,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,4.0,4.0,01-01-1993,151.160172,-24.853810,0.15,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
2,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,5.0,5.0,01-01-1993,151.160172,-24.853810,0.2,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
3,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,8.0,8.0,01-01-1993,151.160172,-24.853810,0.5,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
4,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,11.0,11.0,01-01-1993,151.160172,-24.853810,0.8,...,3.0,2021-10-01T04:39:52,10A1,Total sulfur - X-ray fluorescence,Total S XRF,SALI,11-Mar-03,SALI,11-Mar-03,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613464,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1219_1,1.0,4.0,07-10-1985,137.939902,-35.764266,0,...,3.0,2021-10-01T19:30:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2613465,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1219_1,4.0,1.0,07-10-1985,137.939902,-35.764266,0.24,...,3.0,2021-10-01T19:30:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2613466,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1221_1,1.0,4.0,07-10-1985,137.119539,-35.805871,0,...,3.0,2021-10-01T19:30:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2613467,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1221_1,3.0,1.0,07-10-1985,137.119539,-35.805871,0.2,...,3.0,2021-10-01T19:30:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2613468,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1222_1,1.0,4.0,21-10-1985,137.091875,-35.805905,0,...,3.0,2021-10-01T19:30:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
df['Units']

0            %
1          NaN
2          NaN
3          NaN
4          NaN
          ...
2535076      %
2535077      %
2535078      %
2535079      %
2535080      %
Name: Units, Length: 2039872, dtype: object

In [44]:
master.columns, df.columns

(Index(['DataStore', 'Dataset', 'Provider', 'Location_ID', 'Layer_ID',
        'SampleID', 'SampleDate', 'Longitude', 'Latitude', 'UpperDepth',
        'LowerDepth', 'PropertyType', 'ObservedProperty', 'Value', 'Units',
        'QualCollection', 'QualSpatialAggregation', 'QualManagement',
        'QualSpatialAccuracy', 'ExtractTime'],
       dtype='object'),
 Index(['DataStore', 'Dataset', 'Provider', 'Location_ID', 'Layer_ID',
        'SampleID', 'SampleDate', 'Longitude', 'Latitude', 'UpperDepth',
        'LowerDepth', 'PropertyType', 'ObservedProperty', 'Value', 'Units',
        'QualCollection', 'QualSpatialAggregation', 'QualManagement',
        'QualSpatialAccuracy', 'ExtractTime', 'LAB_METH_CODE', 'LAB_METH_NAME',
        'LAB_METH_SHORT_NAME', 'CREATED_BY', 'CREATION_DATE', 'LAST_UPDATED_BY',
        'LAST_UPDATE_DATE', 'UNITS'],
       dtype='object'))

In [48]:
df['UNITS'].isnull().sum()

1093169

In [49]:
df['Units'].isnull().sum()

2093896

In [12]:
tFile = txtFile[['LAB_METH_CODE', 'UNITS']]
tFile

    LAB_METH_CODE UNITS
0            10A1     %
1            10A3     %
2          10A_NR   NaN
3            10B1   NaN
4            10B2   NaN
..            ...   ...
770         s-23F     %
771         s-23G     %
772         s-23H     %
773         s-23R     %
774         s_23H     %

[775 rows x 2 columns]

In [13]:
nullobsprop = master['ObservedProperty'].unique()

filecodes = tFile['LAB_METH_CODE'].unique()

matchingprops = []

checks = 0
for i in nullobsprop: 
    for j in filecodes:
        
        if i == j: 
            checks += 1
            matchingprops.append(i) 

print(len(filecodes), len(nullobsprop), end = '\n\n')
print('Number of matching properties are: ', checks, end = '\n')

775 591

Number of matching properties are:  276

In [27]:
for i in matchingprops: 
    unit = tFile.loc[tFile['LAB_METH_CODE'] == i]['UNITS']
    
    master.loc[master['ObservedProperty'] == i, 'Units'] = unit

In [28]:
master

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,LowerDepth,PropertyType,ObservedProperty,Value,Units,QualCollection,QualSpatialAggregation,QualManagement,QualSpatialAccuracy,ExtractTime
0,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,2.0,2.0,01-01-1993,151.160172,-24.853810,0,0.05,LaboratoryMeasurement,10A1,0.06,%,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
1,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,4.0,4.0,01-01-1993,151.160172,-24.853810,0.15,0.2,LaboratoryMeasurement,10A1,0.03,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
2,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,5.0,5.0,01-01-1993,151.160172,-24.853810,0.2,0.3,LaboratoryMeasurement,10A1,0.03,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
3,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,8.0,8.0,01-01-1993,151.160172,-24.853810,0.5,0.6,LaboratoryMeasurement,10A1,0.02,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
4,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,11.0,11.0,01-01-1993,151.160172,-24.853810,0.8,0.9,LaboratoryMeasurement,10A1,0.03,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613464,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1219_1,1.0,4.0,07-10-1985,137.939902,-35.764266,0,0.1,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27
2613465,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1219_1,4.0,1.0,07-10-1985,137.939902,-35.764266,0.24,0.34,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27
2613466,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1221_1,1.0,4.0,07-10-1985,137.119539,-35.805871,0,0.1,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27
2613467,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1221_1,3.0,1.0,07-10-1985,137.119539,-35.805871,0.2,0.4,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27
2613468,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1222_1,1.0,4.0,21-10-1985,137.091875,-35.805905,0,0.1,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27

In [31]:
dfnull = master[master['Units'].isnull()]

#Cause of concern, since the data has null values
dfnull

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,LowerDepth,PropertyType,ObservedProperty,Value,Units,QualCollection,QualSpatialAggregation,QualManagement,QualSpatialAccuracy,ExtractTime
1,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,4.0,4.0,01-01-1993,151.160172,-24.853810,0.15,0.2,LaboratoryMeasurement,10A1,0.03,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
2,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,5.0,5.0,01-01-1993,151.160172,-24.853810,0.2,0.3,LaboratoryMeasurement,10A1,0.03,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
3,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,8.0,8.0,01-01-1993,151.160172,-24.853810,0.5,0.6,LaboratoryMeasurement,10A1,0.02,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
4,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,11.0,11.0,01-01-1993,151.160172,-24.853810,0.8,0.9,LaboratoryMeasurement,10A1,0.03,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
5,SALI,QLDGovernment,QLDGovernment,QLD_3MC_153_1,14.0,14.0,01-01-1993,151.160172,-24.853810,1.1,1.2,LaboratoryMeasurement,10A1,0.05,NaN,3.0,2.0,5.0,3.0,2021-10-01T04:39:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613464,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1219_1,1.0,4.0,07-10-1985,137.939902,-35.764266,0,0.1,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27
2613465,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1219_1,4.0,1.0,07-10-1985,137.939902,-35.764266,0.24,0.34,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27
2613466,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1221_1,1.0,4.0,07-10-1985,137.119539,-35.805871,0,0.1,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27
2613467,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1221_1,3.0,1.0,07-10-1985,137.119539,-35.805871,0.2,0.4,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27
2613468,ASRIS,NatSoil,CSIRO,499_SA_acid_AS1222_1,1.0,4.0,21-10-1985,137.091875,-35.805905,0,0.1,LaboratoryMeasurement,XRD_C_Vm,0,NaN,3.0,2.0,5.0,3.0,2021-10-01T19:30:27

In [59]:
#master.loc[master['ObservedProperty']=='10A3']

In [32]:
unit = tFile.loc[tFile['LAB_METH_CODE'] == '10A3']['UNITS'][1]
unit

'%'

In [23]:
for i in matchingprops: 
    if i == '10A3': 
        print('True')
        break

True

In [75]:
df.to_csv('C:\\Users\\siddh\\Desktop\\DES\\Dataframe.csv')

In [67]:
nullrowsdf = df[df['Units'].isnull() & df['UNITS'].isnull()]

In [69]:
nullrowsdf.index

Int64Index([  43144,   43145,   43146,   43147,   43148,   43149,   43150,
              43151,   43152,   43153,
            ...
            2613459, 2613460, 2613461, 2613462, 2613463, 2613464, 2613465,
            2613466, 2613467, 2613468],
           dtype='int64', length=573597)

In [70]:
df.index

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            2613459, 2613460, 2613461, 2613462, 2613463, 2613464, 2613465,
            2613466, 2613467, 2613468],
           dtype='int64', length=2613469)

In [71]:
df.drop(nullrowsdf.index, inplace = True)

In [73]:
df[df['Units'].isnull() & df['UNITS'].isnull()]

Empty DataFrame
Columns: [DataStore, Dataset, Provider, Location_ID, Layer_ID, SampleID, SampleDate, Longitude, Latitude, UpperDepth, LowerDepth, PropertyType, ObservedProperty, Value, Units, QualCollection, QualSpatialAggregation, QualManagement, QualSpatialAccuracy, ExtractTime, LAB_METH_CODE, LAB_METH_NAME, LAB_METH_SHORT_NAME, CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, LAST_UPDATE_DATE, UNITS]
Index: []

[0 rows x 28 columns]

In [77]:
df.to_csv('C:\\Users\\siddh\\Desktop\\DES\\Datasets For Use\\master_combined.csv', index = False)

'C:\\Users\\siddh\\DES'

In [88]:
master.drop(master[master['Latitude'].isnull()])

KeyError: "['DataStore' 'Dataset' 'Provider' 'Location_ID' 'Layer_ID' 'SampleID'\n 'SampleDate' 'Longitude' 'Latitude' 'UpperDepth' 'LowerDepth'\n 'PropertyType' 'ObservedProperty' 'Value' 'Units' 'QualCollection'\n 'QualSpatialAggregation' 'QualManagement' 'QualSpatialAccuracy'\n 'ExtractTime'] not found in axis"